.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    transition: all 2s;
}

.dropdown-submenu {
    position: relative;
    transition: all 2s;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    transition: all 2s;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
    transition: all 2s;
}

a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover,
a:focus {
    background-size: 100% 2px;
    text-decoration: none;
}

.dropdown,
.dropleft,
.dropright,
.dropup {
    position: relative;
    transition: all 2s;
}

.news-bkg {
    background-color: rgba(27, 25, 25, 0.73);
    border-radius: 10px;
}